<div class="story_page story_1">
    <div class="story_inner">
        <div class="full_page_image"  base-path="{{pagedata.rootCatalogPath}}" background-image="toc-right.jpg"></div>
    </div>
</div>
<style type="text/css" data-styleId="STORY_1">
    .story_1{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .story_1 .full_page_image {
        width: 100%;
        height: 60%;
        background-size: cover;
        background: no-repeat center top;
        margin-bottom: 25px;
    }
</style>