<div class="story_page gilbert_story_page_2" base-path="{{pagedata.rootCatalogPath}}">
    <div class="story_inner">
        <div class="story_person" base-path="{{pagedata.rootCatalogPath}}">
        </div>
        <h1>
        Unlike Any Other
        </h1>
        <p>
            This Spring, Vans Pro Skate, the world's #1 skate shoe maker and humble originators of the greatest breakthrough innovations in performance skateboarding footwear, invites you to join us in bringing to market the all-new Vans Crockett Pro. The introductory signature model from Richmond. Virginia's Gilbert Crockett is a union of craft and science featuring Van's revolutionary WAFFLECUP bottom unit construction and fully-fused DURACAP upper reinforcement technologies. UNLIKE ANY OTHER: An amalgamation of materials and workmanship with simple yet practical design, the Vans Crockett Pro affords skateboarders the ultimate synthesis of durability and support with grip and responsiveness in levels currenlty unmatched by any other maker.
        </p>
        <div class="red_stamp_waffle" base-path="{{pagedata.rootCatalogPath}}">
        </div>
    </div>
</div>