<div class="story_page gilbert_story_page_1" base-path="{{pagedata.rootCatalogPath}}">
    <div class="story_inner">
        <div class="story_logo" base-path="{{pagedata.rootCatalogPath}}">
        </div>
        <div class="gilbert_text_block">
            <span>
                Featuring
            </span>
            <h1>
            VANS WAFFLECUP
            </h1>
            <span>
                Vulcanized Feel and Cupsole Support
            </span>
        </div>
        <div class="thumbs_up" base-path="{{pagedata.rootCatalogPath}}">
        </div>
    </div>
</div>