<div class="hero-product-page">
    <div class="topBar">
        <div class="topRightIconContainer" base-path="{{pagedata.rootCatalogPath}}">
            <widget widget-id="IconTopRight" class="icon">
            </widget>
        </div>
        <div class="topLeftTextContainer" base-path="{{pagedata.rootCatalogPath}}">
            <widget widget-id="TitleTopLeft" class="icon">
            </widget>
        </div>
    </div>
    <widget widget-id="ProductHeroImage" class="heroImage" >
    </widget>
    <div class="black-bar"></div>
    <widget widget-id="BackgroundImage" class="backgroundImage">
    </widget>
</div>