<div class="table-of-contents-page table-of-contents-page-left" base-path="{{pagedata.rootCatalogPath}}" background-image="toc-left.jpg">
    <div class="inner-content" base-path="{{pagedata.rootCatalogPath}}" >
        <div class="toc-section">
            <h2 catalog-nativation-action page-number="03">
                Table of contents
                <span class="page-number">
                    3
                </span>
                </h2>
        </div>
        <div class="toc-section">
            <h3 catalog-nativation-action page-number="04">
                Shirts
                <span class="new-tag">
                    NEW
                </span>
                <span class="page-number">
                    4
                </span>
            </h3>
        </div>
        <div class="toc-section">
            <h3 catalog-nativation-action page-number="07">
                Shoes
                <span class="new-tag">
                    NEW
                </span>
                <span class="page-number">
                    7
                </span>
            </h3>
        </div>
        <div class="toc-section">
            <h3 catalog-nativation-action page-number="09">
                Denim
                <span class="page-number">
                    9
                </span>
            </h3>
        </div>
     </div>
</div>
<style type="text/css" data-styleId="TABLE_OF_CONTENTS">
		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page {
			height:100%;
			width:100%;
            background-size:100% 100%;
            background-repeat:no-repeat;
			position:absolute;
		}	
	
		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page-left {
			background-position: right center;
		}
		
		.S14-PRO-SKATE  .catalog-page .table-of-contents-page-right {
			background-position: left center;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .legal-text {
			font-size: .65em;
			line-height: 1.1em;
		}
		
		.S14-CONDUCTIV-APPAREL  .catalog-page .legal-text p {
		    margin-top: .5em;
		    margin-bottom: 0px;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page .inner-content {
			margin-top:20%;
			width:70%;
			height:90%;
			padding-left: 15%;
			padding-right: 15%;
			color:white;
			position:absolute;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page .toc-section {
			border-bottom: #555555 1px solid;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page .page-number {
			float: right;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page h1 {
			font-size:25pt;
			display: block;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page h2 {
			display: block;
			line-height: 1.5em;
		}

		.S14-CONDUCTIV-APPAREL  .catalog-page .table-of-contents-page h3 {
			display: block;
			line-height: 1.8em;
		}
    </style>