<div class="story_page story_2">
    <div class="story_inner">
        <div class="img_text_header" base-path="{{pagedata.rootCatalogPath}}" >
        </div>
        <div class="waffle_buddy"base-path="{{pagedata.rootCatalogPath}}">
        </div>
        <dl>
            <dt class="image-definition provulc" base-path="{{pagedata.rootCatalogPath}}">
            </dt>
           <dd class="techInfo clearfix">
                <h2>
                BoardFeel
                </h2>
                <dl>
                    <dt>
                        PRO VULC Construction
                    </dt>
                    <dd>
                        Over 45 years of proven Vans vulcanized construction performance combined with modern CUSHIONING technology delivers the best boardfeel, flex, and traction ... only better. Vans PRO VULC delivers improved cushioning for today’s skateboarding.
                    </dd>
                </dl>
            </dd>
            <dt class="image-definition procup" base-path="{{pagedata.rootCatalogPath}}">
            </dt>
           <dd class="techInfo clearfix">
                <dl>
                    <h2>
                    Support
                    </h2>
                    <dt>
                        PRO CUP Construction
                    </dt>
                    <dd>
                        To maximize durability and support without sacrificing boardfeel, Vans PRO SKATE engineered a one-piece, molded 400 NBS rubber cupsole (“cup”) that maintains its shape and supports the upper framework of the shoe longer. It still puts the foot as low to the board as possible for intuitive responsiveness, all the while suspending the footbed above a tapered EVA foam midsole to better protect against high impact.
                    </dd>
                </dl>
            </dd>
            <dt class="image-definition wafflecup"base-path="{{pagedata.rootCatalogPath}}" >
            </dt>
            <dd class="techInfo clearfix">
                <dl>
                    <h2>
                    THE BEST OF BOTH WORLDS!
                    </h2>
                    <dt>
                        Vans WAFFLECUP™ Construction
                    </dt>
                    <dd>
                        BOARDFEEL and SUPPORT. Leave it to Vans PRO SKATE to introduce skateboarding’s first-ever vulcanized cupsole! Vans’ exclusive
                        WAFFLECUP™ construction is GRIPPY and RESPONSIVE in the forefoot (like a traditional vulcanized shoe), yet SUPPORTIVE and STABLE throughout the perimeter (like a cupsole shoe). Vans WAFFLECUP™ — the best thing to happen to skateboarders’ feet since 1966!
                    </dd>
                </dl>
            </dd>
        </dl>
    </div>
</div>