/* CSS Document */

@font-face {
    font-family: HelveticaNeue-H1;
    src: url(Fonts/HelveticaNeueLTStd-BlkCn.otf);
    font-weight:400;
}

@font-face {
    font-family: HelveticaNeue-H2;
    src: url(Fonts/HelveticaNeueLTStd-BlkCn.otf);
    font-weight:100;
}

@font-face {
    font-family: HelveticaNeue-H3;
    src: url(Fonts/HelveticaNeueLTStd-Md.otf);
    font-weight:100;
}

@font-face {
    font-family: HelveticaNeue-H4;
    src: url(Fonts/HelveticaNeueLTStd-BlkCn.otf);
    font-weight:100;
}

@font-face {
    font-family: HelveticaNeue-P;
    src: url(Fonts/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: Monaco;
    src: url(Fonts/Monaco.ttf);
    font-weight:100;
}

.F13-FOOTWEAR-PROSKATE.catalog-page h1 {
	font-family: HelveticaNeue-H1;
	font-size:3.0em;
	letter-spacing:2px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.F13-FOOTWEAR-PROSKATE.catalog-page h2 {
	font-family: HelveticaNeue-H2;
	font-size:1.2em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.F13-FOOTWEAR-PROSKATE.catalog-page h3 {
	font-family: HelveticaNeue-H3;
	font-size:1.0em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.F13-FOOTWEAR-PROSKATE.catalog-page h4 {
	font-family: HelveticaNeue-H3;
	font-size:1.2em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

.F13-FOOTWEAR-PROSKATE.catalog-page h5 {
	font-family: HelveticaNeue-H3;
	font-size:.95em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.F13-FOOTWEAR-PROSKATE.catalog-page p {
	font-family: HelveticaNeue-P;
	font-size: .90em;
}