<div class="grid productGroup product_2_grid">
    <widget class="margins left-margin" widget-id="LeftMargin">
    </widget>
    <div class="productGrid">
        <widget class="productWidget" widget-id="TopLeftProduct" debugWithPlaceholder="false">
        </widget>
        <widget class="productWidget" widget-id="TopRightProduct" debugWithPlaceholder="true">
        </widget>
    </div>
    <widget class="textFooterSummary" widget-id="FeatureSummary" debugWithPlaceholder="true">
    </widget>
    <widget class="margins right-margin" widget-id="RightMargin">
    </widget>
</div>